* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   width: 100vw;
   height: 100vh;
   position: relative;
}

.visible {
   display: block;
}

.hidden {
   display: none;
}

.green-header {
   width: 100%;
   height: 100px;
   background-color: #128C7E;
}

.texture-bg {
   width: 100%;
   height: calc(100% - 100px);
   background-color: #ECE5DD;
}


i {
   width: 35px;
   text-align: center;
}



/* Scrollbar style */
/* width */
.conversations-list::-webkit-scrollbar, .conversation-area::-webkit-scrollbar {
   width: 8px;
}
/* track */
.conversations-list::-webkit-scrollbar-track, .conversation-area::-webkit-scrollbar-track {
   background: #FFFFFF;

}
/* Handle */
.conversations-list::-webkit-scrollbar-thumb, .conversation-area::-webkit-scrollbar-thumb {
   background: #d6d6e3;
}

.conversations-list::-webkit-scrollbar-track-piece, .conversation-area::-webkit-scrollbar-track-piece {
   height: 50px;
}
/* Handle on hover */
#players-list::-webkit-scrollbar-thumb:hover {
   background: rgba(19, 53, 198, 1);
}
